body {
    background-color: #f4f6f9;
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
}

/* NAVBAR BLANCO HUESO */
    .navbar {
        background-color: #f8f9f6;
        border-bottom: 1px solid #e3e6ea;
    }

    .navbar-brand {
        font-weight: 700;
        letter-spacing: .4px;
        font-size: 1.2rem;
        color: #1f2933 !important;
    }

    .navbar-brand img {
        height: 70px;
    }

    .brand-text {
        color: #0b5ed7;
        text-transform: uppercase;
        letter-spacing: 0.6px;
    }

    .nav-link {
        font-weight: 500;
        color: #374151 !important;
    }

    .nav-link:hover {
        color: #0d6efd !important;
    }

    .btn-light {
        background-color: #ffffff;
        border: 1px solid #d1d5db;
    }

    .btn-light:hover {
        background-color: #f1f5f9;
    }

.titulo-mapa {
    max-width: 600px;
    margin: 25px auto;
    padding: 12px 20px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    background: #f8f9f6;
    border-radius: 12px;
    color: #0b5ed7;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.mapa-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#mapa {
    max-width: 80%;
    max-height: 450px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    border: 2px solid #2B7CD3;
    transition: transform 0.3s ease;
}

#mapa:hover {
    transform: scale(1.05);
}